@import url(reset.css);
.clear{
clear:both;
}
#wrapper{
width:1024px;
height:800px;
margin: 0 auto;
background-image:url(../images/bg.jpg);
}
#soc{
width:201px;
height:27px;
position:absolute;
top:13px;
right:110px;
}
#socRss{
display:block;
width:26px;
height:27px;
background-image:url(../images/socRss.png);
margin-left:29px;
margin-right:20px;
float:left;
}

#socPiple{
display:block;
width:26px;
height:27px;
background-image:url(../images/socPiple.png);
margin-right:20px;
float:left;
}
#socLunatik{
display:block;
width:26px;
height:27px;
background-image:url(../images/socLunatik.png);
margin-right:20px;
float:left;
}
#socSu{
display:block;
width:26px;
height:27px;
background-image:url(../images/socSu.png);
float:left;
}

#menu{
padding-left:684px;
padding-top:63px;
}
#menu a:link{
color:#FFF;
font:15px Century Gothic;
}
#menu a:hover{
color:#FFC207;
font:15px Century Gothic;
text-decoration:none;
}
#left{
width:499px;
height:333px;
float:left;
margin-top:268px;
margin-left:23px;
margin-right:37px;

}
#right{
width:443px;
height:601px;
outline:0px solid #ccc;
float:left;
}
#textPhotographi{
width:310px;
height:30px;
background-image:url(../images/textPhotographi.png);
background-repeat:no-repeat;
}
#leftcontent{
outline:0px solid #ccc;
}
#englLeftTop{
width:14px;
height:14px;
background-image:url(../images/englLeftTop.png);
background-repeat:no-repeat;
float:left;
}
#lineTop{
margin:0 auto;
width:470px;
height:2px;
background-image:url(../images/lineTop.png);
background-repeat:repeat-x;
float:left;
}
#englRightTop{
width:15px;
height:14px;
background-image:url(../images/englRightTop.png);
background-repeat:no-repeat;
float:left;
}
/*end top*/
.content{
width:499px;
height:289px;
}
#lineLeft{
width:4px;
height:100%;
background-image:url(../images/lineLeft.png);
background-repeat:repeat-y;
float:left;
}
#lineRight{
width:4px;
height:100%;
background-image:url(../images/lineRight.png);
background-repeat:repeat-y;
float:right;
}
#txt{
float:left;
}
#woter{
width:158px;
height:152px;
background-image:url(../images/woter.png);
margin:-5px 6px 0px 5px;
float:left;
}
#p1{
width:320px;
height:143px;
color:#FFF;
font:14px Times New Roman;
padding-right:6px;
margin-left:158px;
}
#p2{
width:470px;
color:#FFF;
font:14px Times New Roman;
margin-top:5px;
margin-left:8px;
}
#txt a:link{
color:#FEB300;
font:14px Times New Roman;
float:right;
margin-top:6px;
margin-right:24px;
}
#txt a:hover{
color:#FEB300;
font:14px Times New Roman;
float:right;
margin-top:6px;
margin-right:24px;
text-decoration:none;
}
#englLeftBottom{
width:14px;
height:16px;
background-image:url(../images/englLeftBottom.png);
background-repeat:no-repeat;
float:left;
right:0px;
}
#englRightBottom{
width:15px;
height:16px;
background-image:url(../images/englRightBottom.png);
background-repeat:no-repeat;
float:right;
}
#lineBottom{
width:470px;
height:2px;
background-image:url(../images/lineBottom.png);
background-repeat:repeat-x;
margin-top:12px;
float:left;
}
#featured{
width:441px;
height:49px;
background-image:url(../images/featured.png);
background-repeat:repeat-x;
margin-top:32px;
}
#girl1:link{
display:block;
width:149px;
height:156px;
background-image:url(../images/girl1.png);
background-repeat:repeat-x;
float:left;
}
#girl1:hover{
display:block;
width:149px;
height:156px;
background-image:url(../images/girl1.1.png);
background-repeat:repeat-x;
float:left;
}
#girl2:link{
display:block;
width:143px;
height:156px;
background-image:url(../images/girl2.png);
background-repeat:repeat-x;
float:left;
}
#girl2:hover{
display:block;
width:143px;
height:156px;
background-image:url(../images/girl2.1.png);
background-repeat:repeat-x;
float:left;
}
#girl3:link{
display:block;
width:143px;
height:156px;
background-image:url(../images/girl3.png);
background-repeat:repeat-x;
float:left;
}
#girl3:hover{
display:block;
width:143px;
height:156px;
background-image:url(../images/girl3.1.png);
background-repeat:repeat-x;
float:left;
}
#supabout{
width:349px;
height:39px;
background-image:url(../images/supabout.png);
}
#about{
width:317px;
height:27px;
background-image:url(../images/about.png);
}
#p3{
width:291x;
height:132px;
background-image:url(../images/bgP.png);
background-repeat:no-repeat;
color:#FFF;
font:14px Times New Roman;
padding-top:7px;
padding-left:9px;
}
#tip{
width:181px;
height:27px;
background-image:url(../images/tip.png);
}
#p4{
width:231x;
height:133px;
background-image:url(../images/bgP2.png);
background-repeat:no-repeat;
color:#FFF;
font:14px Times New Roman;
padding-top:7px;
padding-left:9px;
}
#p4 a:link{
color:#FEB300;
font:14px Times New Roman;
float:right;
margin-right:10px;
}
#p4 a:hover{
color:#FEB300;
font:14px Times New Roman;
float:right;
margin-right:10px;
text-decoration:none;
}




